:root {
  --white: #F3F3F5;
  --blue: #0f2347;
  --silver: #dadce2;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--white);
  color: var(--blue);
  overflow-x: hidden;
  line-height: 1.6;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

::selection {
  background: var(--blue);
  color: var(--white);
}

section {
  will-change: auto;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

img {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

[id] {
  scroll-margin-top: 80px;
}
